.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-bottom: 20px;
    transition-property: width;
    transition-duration: 3s;
    transition-delay: 1s;

}
.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition-property: width;
    transition-duration: 4s;
}
div:hover{
    width: 300px;
}