.container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1{
width: 100px;
height: 100px;
background-color: red;
}
.box2{
width: 100px;
height: 100px;
background-color: yellow;
}
.box3{
width: 100px;
height: 100px;
background-color: blue;
}
.box4{
width: 100px;
height: 100px;
background-color: green;
}
