.container{
    width: 60%;
    height: 400px;
    background-color: gray;
    
}


.box{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    background-color: purple;
    border-radius: 50px;
    animation: circle 8s linear;
    position: relative;
}

@keyframes circle {
    0%{
       top: 0px;
       left: 0px;

    }
    25%{
       left: 200px;
       top: 0px;
       background-color: red;
       border-radius: 0px;
    }
    50%{
        left: 200px;
        top: 200px;
        background-color: green;
        border-radius: 50px;
    }

    75%{
        left: 0px;
        top: 200px;
        background-color: yellow;
        border-radius: 0px;
    }
    100%{
        left: 0px;
        top: 0px;
    }
}